<!DOCTYPE html>
<html>
<head>
    <link  href="/assets/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
  
    <%- include ('partials/nav.ejs'); -%>
    <h1>WELCOME TO THE PROFILE OF <%=person%></h1>
    <p><strong>Age : <%= data.age %></strong></p>
    <p><strong>job : <%= data.job %></strong></p>
    <h2>Hobbies</h2>
    <ul>
        <% data.hobies.forEach(function(item){ %>
                <li> <%= item %> </li>
       <% }); %>
    </ul>
</body>
</html>